@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@media screen and (orientation: portrait) {
    body {
        max-width: 430px;
        margin: auto;
        padding: 0 15px;
    }

    main {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    nav {
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media screen and (orientation: landscape) {
    body {
        max-width: 860px;
        margin: auto;
        padding: 30px auto;
    }

    main {
        display: inline-block;
        width: 640px;
        vertical-align: top;
    }

    nav{
        display: inline-block;
        width: 200px;
        margin-left: 20px;
        vertical-align: top;
    }
}

* {
    font-family: 'SUITE-Regular';
}

body {
    text-color: #333;
}

header, footer {
    text-align: center;
    margin: 0 auto;
    margin-top: 5em;
}

a {
    color: #333;
    text-decoration-line: none;
}

h1, h2{
    margin-top: 50px;
}

.nav-button {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    background-color: #fff;
    text-align: center;
}

.nav-selected {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.bookmark-button {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    margin-bottom: 10px;
}

.text-bookmark {
    font-size: 14px;
    width: 90px;
    height: 23px;
    border: 1px solid #333;
    padding-top: 5px;
}

hr {
    border: 0;
    padding: 5px;
}