@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular';
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
    color: #333;
}

header, footer {
    text-align: center;
    margin: 5em auto;
}

#index {
    border: 1px solid #333;
    padding: 2em 10em;
    width: 430px;
}

#index_anchor {
    color: #333;
    text-decoration-line: none;
}

h2{
    margin-top: 100px;
}

#indexer {
    margin-top: auto;
}

button {
    width: 120px;
    height: 120px;
    font-weight: normal;
    margin: 5px;
    border: 1px solid #333;
    vertical-align: 0;
    background-color: #fff;
}